*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #e0e0e0;
}

header {
  background-color: #2c0b09;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 25px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 12px;
}

.logo {
  margin-right: auto;
  margin-left: 10px;
  font-size: small;
  cursor: pointer;
}

nav ul {
  display: flex;
  padding: 2px;
}

li {
  list-style-type: none;
  padding: 10px;
  font-size: small;
}

a {
  color: #fff;
  text-decoration: none;
}

nav ul li :hover {
  color: red;
}

.btn-cta {
  margin-right: 20px;
  border: none;
  font-size: 20px;
  padding: 3px 25px;
  background-color: white;
  font-size: small;
  cursor: pointer;
  color: #2c0b09;
  border-radius: 5px;
}

.container1 {
  display: flex;
  width: 100%;
  align-items: center;
  color: white;
  height: 75vh;
  gap: 350px;
  margin-top: 30px;
}

.content1 {
  margin-left: 40px;
}

.title {
  margin-bottom: 30px;
  font-size: 90px;
  color: #84211d;
}

.paragraf {
  color: #2c0b09;
  font-size: small;
}

.btn {
  margin-top: 30px;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  background-color: #84211d;
  color: #fff;
  border: none;
  width: 40%;
}

.foto {
  width: 400px;
  height: 425px;
  mix-blend-mode: multiply;
  filter: brightness(100%);
  margin-right: 40px;
}

.container2 {
  max-width: 1200px;
  margin: 0 auto;
  padding: 70px 0;
}

.h2 {
  color: #fff;
  text-align: center;
  font-size: x-large;
  font-weight: bolder;
  background-color: #2c0b09;
  padding: 12px;
  border-radius: 20px;
  margin: 1% 40% 1% 40%;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
}

.card-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  width: 500px;
  height: 200px;
  background-color: #942720;
  border-radius: 10px;
}

.icon {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.description {
  margin: 20px 40px 0px 60px;
  font-size: 13px;
  color: #fff;
}
.description1 {
  margin: 20px 40px 0px 40px;
  font-size: 13px;
  color: #fff;
}
.description2 {
  margin: 20px 40px 0px 40px;
  font-size: 13px;
  color: #fff;
}
.description3 {
  margin: 20px 40px 0px 50px;
  font-size: 13px;
  color: #fff;
}

.container4 {
  display: flex;
  gap: 300px;
  align-items: center;
  margin-left: 30px;
  margin-right: 30px;
  color: white;
  background-color: #2c0b09;
}

.kepala {
  font-size: 40px;
  margin-bottom: 30px;
  color: #fff;
}

.foto2 {
  width: 300px;
  height: 325px;
  mix-blend-mode: exclusion;
  filter: brightness(100%);
}

.container5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 125px 30px 70px 30px;
  background-color: #2c0b09;
  padding: 25px;
}

.h3 {
  color: #fff;
  font-size: x-large;
}

.list {
  display: flex;
}

.gambar {
  width: 20px;
  height: 20px;
  mix-blend-mode: exclusion;
  filter: brightness(100%);
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
}

.footer1 {
  background-color: #2c0b09;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 12px;
  font-size: 11px;
}
